@font-face {
  font-family: "sfProDisplay";
  src: url("/assets/font/sf-pro-display/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "svBasicManual";
  src: url("/assets/font/sv-basic-manual/SVBasicManual.ttf");
}

:root {
  --default: #fff;
  --primary: #bdfe4f;
  --secondary: #66b000;
  --background: #141515;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  max-width: 1280px;
  margin: 0 auto;
}
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 40px;
  width: 100%;
  /* background-color: var(--background); */
}
.Nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.Nav__menu-line {
  width: 44px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--default);
  margin: 5px;
}

.Nav__btn {
  background-color: var(--primary);
  padding: 22px 16px;
  width: fit-content;
  height: fit-content;
  min-height: 56px;
  min-width: 144px;
  border-radius: 7px;
  font-size: 16px;
}
.Nav__btn-text {
  font-family: "svBasicManual";
  font-weight: normal;
}

.Container {
  max-width: 1200px;
  margin: 35px auto;
}
/* Hero section */
.Hero {
  height: 600px;
}

.Hero__content {
  width: 1012px;
  height: 330px;
  /* background-color: #161814; */
  margin: 0 auto;
}
.Hero__header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 0rem;
}
.Hero__title {
  line-height: 64px;
  font-size: 100px;
  color: var(--default);
  width: 608px;
  height: 90px;
  font-family: "svBasicManual";
  font-weight: normal;
}

.Hero__description {
  font-size: 20px;
  width: 326px;
  height: 75px;
  color: #b5b5b5;
  position: relative;
  top: -10px;
  font-family: "sfProDisplay";
}

.Hero__footer__text {
  font-size: 100px;
  color: var(--default);
  width: 1012px;
  height: 90px;
  font-family: "svBasicManual";
  font-weight: normal;
}
.Hero__mid {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0rem; */
}
.Hero__mid__start {
  position: relative;
}

.Hero__mid__start-vect {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.Hero__mid__last {
  height: 110px;
  width: 453px;
  background-color: rgba(189, 254, 79, 0.15);
  border-radius: 18px;
  margin: 8px;
  text-align: center;
}
.Hero__mid__last-text {
  font-size: 100px;
  font-family: "svBasicManual";
  color: var(--primary);
  font-weight: normal;
}

.Hero__cookie {
  position: relative;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Hero__cookie-text {
  background-color: #1c1c1c;
  padding: 10px 20px;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  color: var(--default);
  text-align: center;
  margin: auto;
  font-family: "sfProDisplay";
  font-weight: 100;
  word-spacing: 2px;
}
